.card {
  display: inline-table;
  width: 300px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 430px;
  background-color: lavender;
}

.card h2 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
  font-family: cursive;

}

.card p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5; /* Establece el interlineado a 1.5 veces el tamaño de la fuente */
  font-size: 14px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}

.principal {
  background-color: #eaf4e0;
  font-family: 'Montserrat', sans-serif;
  line-height: 2; 
}
.page-title {
  color: #333; /* Color del texto */
  font-size: 32px; /* Tamaño de la fuente */
  font-family: 'Montserrat', sans-serif;
  text-align: center; /* Alineación del texto */
  
}

#search-input {
  display: block;
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#search-button {
  display: block;
  width: 120px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #0056b3;
}

